* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
}

p {
  word-spacing: 1px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

section h3 {
  text-align: center;
}

.heading {
  text-align: center;
  padding-top: 1.25rem;
}

.heading::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ""; /* Must have when using :after pseudo-class */
  width: 100px;
  margin: 0 auto; /* Center content */
  margin-top: 30px;
}

/*
-----------------------------------------------------------------
INPUTS
-----------------------------------------------------------------
*/
.register input {
  border-radius: 3px;
  border: 1px solid;
}

input[type="text"] {
  border: 1px solid #FE8F1C;
}

input[type="email"] {
  border: 1px solid #FE8F1C;
}

input[type="password"] {
  border: 1px solid #FE8F1C;
}

input[type="tel"] {
  border: 1px solid #FE8F1C;
}

input[type="number"] {
  border: 1px solid #FE8F1C;
}
#messages {
  border: 1px solid #FE8F1C;
}

/*
-----------------------------------------------------------------
FORMS
-----------------------------------------------------------------
*/
.register {
  padding: 10px;
}

/*
-----------------------------------------------------------------
NAVIGATION
-----------------------------------------------------------------
*/
.logo {
  width: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1031;

  @media only screen and (max-width: 995px) {
    display: none;
  }
}

.navbar .navbar-nav .nav-link {
  padding: 1em 5px;
}

.navbar .navbar-nav .nav-item {
  position: relative;
  margin: 0 1em;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: brown;
  width: 0%;
  height: 4px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url("/images/hu-chen-60XLoOgwkfA-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @media only screen and (max-width: 995px) {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url("/images/treet_web_small.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
}

.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.header__content h1 {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: saddlebrown;
}

.header__content h3 {
  color: navajowhite;
}

.header__content button {
  border: 1px solid;
  border-radius: 0;
  width: 10rem;
}

/*
-----------------------------------------------------------------
INITIATIVES
-----------------------------------------------------------------
*/
#main {
  background-color: #fff;
}

.main__initiatives__image {
  height: 200px;
  width: 200px;
  padding: 10px;
}

.initiative__box p {
  padding: 10px;

}

.initiative__box figcaption {
  font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
  .initative__box {
    width: 80%;
    margin: 0 auto;
  }
}

/*
-----------------------------------------------------------------
PARTNERSHIPS
-----------------------------------------------------------------
*/
#partnership {
  background-color: #CDB693;
  padding-bottom: 20px;
}

#partnerhsip .card-body {
  background-color: #FFF1E4;
}

#partnerhsip h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  background-color: #a9a5a1;
}

.card-img-top {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}



/*
-----------------------------------------------------------------
ABOUT   ABOUT   ABOUT   ABOUT   ABOUT   ABOUT   ABOUT
-----------------------------------------------------------------
*/
.about {
  background-image: linear-gradient(rgba(230, 217, 217, 0.4), rgba(230, 217, 217,0.7)), url("/images/joshua-gaunt-foB8u91Kgrc-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.team__images {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #FFF8;
}

.about__values__box i img {
  height: 100px;
  width: 100px;
}

.about__values__box {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  border-radius: 3px;
  padding: .625rem;
  font-size: 1rem;
  transform: skewX(-12deg);
  margin-bottom: 5px;
}

/*
-----------------------------------------------------------------
CONTACT
-----------------------------------------------------------------
*/
.tel_contact {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tel_contact:nth-child(1) {
  font-size: 50px;
}

.tel_contact:nth-child(2) {
  font-size: 1.7rem;
}

.tel_contact:nth-child(3) {
  font-size: 1.8rem;
}

.email_contact {
  padding-bottom: 20px;
  text-align: center;
}

.email_contact:nth-child(1) {
  font-size: 50px;
}

.email_contact:nth-child(2) {
  font-size: 1.7rem;
}

.email_contact:nth-child(3) {
  font-size: 1.7rem;
}

/*
-----------------------------------------------------------------
DONATIONS
-----------------------------------------------------------------
*/
.donation__box {
  padding: 10px;
  background-color: #e5e0d5;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
}

.dumelang {
  margin-top: 150px;
}

.main-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-body .container {
  margin-top: 100px;
  flex: 1

  /*TABLET AND MOBILE*/
}

/*
-----------------------------------------------------------------
PAGE_EDIT       PAGE_EDIT       PAGE_EDIT       PAGE_EDIT
-----------------------------------------------------------------
*/
.main {
  height: 70vh;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.edit_pages {
  width: 220px;
  border-radius: 0;
  background-color: white;
  color: #FE8F1C;
  border: 1px solid #FE8F1C;
  margin-left: 20px;
}

.overview > .btn {
  border-radius: 0;
  border: 1px solid #FE8F1C;
  color: #FE8F1C;
}

.overview > .btn-light:hover {
  background-color: #FE8F1C;
  color: white;
}

.btn.active {
  background-color: #FE8F1C;
  color: white;
}

.main > .section {
  background-color: whitesmoke;
}

#contact .btn_submit {
  width: 350px;
  height: 50px;
  margin-top: 20px;
  font-size: 1.4rem;
  background-color: #FE8F1C;
}

#partnership .btn {
  width: 100%;
  background-color: #FE8F1C;
  height: 50px;
  font-size: 1.4rem;
  color: white;
}

.main_edit a {
  background-color: white;
  width: 200px;
  border: 1px solid #FE8F1C;
  border-radius: 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.main_edit a:hover {
  background-color: #FE8F1C;
  color: white;
}

.main_edit a:hover:last-child {
  background-color: gray;
  color: white;
}


.main_edit .btn-light:active {
  background-color: #FE8F1C;
  color: white;
}


#loadContainer {
  /* INPUT_VALIDATIONS        INPUT_VALIDATIONS         INPUT_VALIDATIONS         INPUT_VALIDATIONS */
  input[type="text"]:invalid {
    border: 2px solid red;
  }

  input[type="number"]:invalid {
    border: 2px solid red;
  }

  input[type="number"]:valid {
    border: 2px solid green;
  }

  input[type="text"]:valid {
    border: 2px solid green;
  }

  input[type="email"]:invalid {
    border: 2px solid red;
  }

  input[type="email"]:valid {
    border: 2px solid green;
  }

  input[type="tel"]:valid {
    border: 2px solid green;
  }

  input[type="tel"]:invalid {
    border: 2px solid red;
  }

  textarea:invalid {
    border: 2px solid red;
  }

  textarea:valid {
    border: 2px solid green
  }
}

.errors {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.main > .overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main .team {
  display: flex;
  justify-content: space-evenly;
}

.main .statement {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.main .banking {
  text-align: center;
  margin-top: 50px;
}

.main .banking_details {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}

.main .contact {
  text-align: center;
  margin-top: 50px;
}

.main .contact_content {
  display: inline-block;
}

.contact_content h2:last-child {
  text-align: start;
}

.btn_login_cancel, .btn_register_cancel {
  background-color: lightgray;
  border: none;
  font-size: 1.5rem;
  width: 48%;
  border-radius: 0;
  letter-spacing: 1.5px;
  height: 50px;
}

.btn_login, .btn_register {
  background-color: #FE8F1C;
  border: none;
  font-size: 1.5rem;
  width: 48%;
  border-radius: 0;
  letter-spacing: 1.5px;
}

.form_buttons button {
  background-color: #FE8F1C;
  border: none;
  font-size: 1.2rem;
  width: 40%;
  border-radius: 0;
  height: 50px;
  letter-spacing: 1.5px;
}

.form_buttons button:last-child {
  background-color: lightgray;
  border: none;
  font-size: 1.2rem;
  width: 40%;
  border-radius: 0;
  letter-spacing: 1.5px;
  height: 50px;
}


@media (min-width: 769px) and (max-width: 1024px) {

  .dumelang {
    margin-top: 100px;
  }

  #partnership .btn {
    width: 100%;
    background-color: #FE8F1C;
    height: 50px;
    font-size: 1.4rem;
    color: white;
  }

  #contact .btn_submit {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    font-size: 1.4rem;
    background-color: #FE8F1C;
  }

  .btn_login_cancel, .btn_register_cancel {
    background-color: lightgray;
    border: none;
    font-size: 1.5rem;
    width: 48%;
    border-radius: 0;
    letter-spacing: 1.5px;
    height: 50px;
  }

  .btn_login, .btn_register {
    background-color: #FE8F1C;
    border: none;
    font-size: 1.5rem;
    width: 48%;
    border-radius: 0;
    letter-spacing: 1.5px;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .main > .overview {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }
  .main_edit {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }

  .main_edit > .btn {
    width: 350px;
    margin: 10px auto;
    font-size: 1.5rem;
    color: #FE8F1C;
  }

  .main_edit > .btn:hover {
    background-color: #FE8F1C;
    color: white;
  }

  .main_edit > .btn:active {
    background-color: #FE8F1C;
    color: white;
  }


  .overview > .btn {
    margin: 0;
    width: 100%;
    border-radius: 0;
    height: 50px;
    border-color: #FE8F1C;
    color: #FE8F1C;
    font-size: 1.4rem;
  }

  .form_buttons {
    margin-bottom: 50px;
  }

  .form_buttons button {
    background-color: #FE8F1C;
    border: none;
    font-size: 1.5rem;
    width: 48%;
    border-radius: 0;
    letter-spacing: 1.5px;
  }

  .form_buttons button:last-child {
    background-color: lightgray;
    border: none;
    font-size: 1.5rem;
    width: 48%;
    border-radius: 0;
    letter-spacing: 1.5px;
    height: 50px;
  }

  label {
    font-size: 1.5rem;
  }

  .image_div  {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main_edit >
  .btn-light:focus {
    background-color: #FE8F1C;
    color: white;
  }

  .btn_login, .btn_register {
    background-color: #FE8F1C;
    border-radius: 0;
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
  }

  .btn_login_cancel, .btn_register_cancel {
    width: 100%;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 0;
    margin-top: 20px;
    height: 50px;
    font-size: 1.4rem;
  }

  .form_buttons button {
    background-color: #FE8F1C;
    border-radius: 0;
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
  }

  .form_buttons button:last-child {
    width: 100%;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 0;
    margin-top: 20px;
    height: 50px;
    font-size: 1.4rem;
  }

  #contact .btn {
    width: 100%;
    border-radius: 0;
    font-size: 1.4rem;
    background-color: #FE8F1C;
    height: 50px;
  }

  #partnership .btn {
    width: 100%;
    background-color: #FE8F1C;
    height: 50px;
    font-size: 1.4rem;
    color: white;
  }

  label {
    font-size: 1.5rem;
  }

  .main_edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form_buttons {
    margin-bottom: 50px;
  }

  .main {
    grid-template-columns: none;
    grid-template-rows: 1fr;
    height: fit-content;
    margin-top: 0;
  }

  .overview {
    justify-content: center;
  }

  .team {
    flex-direction: column;
  }

  .section {
    width: auto;
    height: auto;
  }

  p {
    font-size: 1.3rem;
  }

  /* .btn-light {
    height: 50px;
    width: 100%;
    font-size: 1.3rem;
    margin: 0 auto;
    border-color: orange;
    color: orange;
  } */

  .dumelang {
    margin-top: 100px;
  }

  .main_edit a {
    background-color: white;
    width: 100%;
    border: 1px solid #FE8F1C;
    border-radius: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .btn-secondary {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    font-size: 1.3rem;
  }

  .image_div  {
    text-align: center;
  }
}
