<section id="about" class="about">
  <div class="container-fluid">
    <h1 class="heading">About Us</h1>
    <h4>The Hosi Nkuna Foundation is a visionary organization dedicated to empowering African communities through sustainable development, education, and cultural preservation. Founded by Hosi R Nkuna, our foundation is committed to building a brighter future for generations to come.</h4>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12" style="padding: 0; background-color: #B8906D;">
        <div class="about__us__statement">
          <h3 class="text-center">Mission</h3>
          <p style="padding: 10px;">We strive to uplift rural areas across Africa by fostering economic independence, promoting education,
            preserving cultural heritage, and improving healthcare and infrastructure.
          </p>

          <h3 class="text-center">Vision</h3>
          <p style="padding: 10px;">We envision vibrant and thriving rural communities where every individual has access to opportunities for growth,
            education, and well-being.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12" style="padding: 0; background-color: #9B6B4B;">
        <div class="about__us__statement">
            <h3 class="text-center">The Team</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-center">
                  <img loading="lazy" class="team__images" src="/images/Nkuna.jpg"/>
                  <p>Founder: Hosi Nkuna</p>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-center">
                  <img loading="lazy" class="team__images" src="/images/Gomolemo.jpg"/>
                  <p>CEO: Gomolemo Sekati</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-center" style="margin-top: 20px; margin-bottom: 20px;">Our Core Values</h3>
    <div class="about__values">
      <div class="container-fluid">
        <div class="row">
          <div class="about__values__box text-center">
            <div><i><img src="/icons/empowerment.png"/> - <span>Community Empowerment</span></i></div>
            <p>We believe in the power of communities to drive positive change and development.</p>
          </div>
          <div class="about__values__box text-center">
            <i><img src="/icons/sustainability.png"/> - <span>cultural preservation</span></i>
            <p>our initiatives are designed for long-term impact, focusing on sustainable solutions for economic and social development.</p>
          </div>

          <div class="about__values__box text-center">
            <i><img src="/icons/conservation.png"/> - <span>sustainability</span></i>
            <p>we are committed to preserving and celebrating the rich cultural heritage of african societies.</p>
          </div>

          <div class="about__values__box text-center">
            <i><img src="/icons/skill-development.png"/> - <span>education</span></i>
            <p>we prioritize education as a catalyst for personal and community growth, offering opportunities for learning and skill development.</p>
          </div>

          <div class="about__values__box text-center">
            <i><img src="/icons/inclusive.png"/> - <span>inclusivity</span></i>
            <p>we embrace diversity and inclusivity, ensuring that all voices are heard and represented in our work.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
