<section id="donations" class="donation">
  <h1 class="heading">Donations</h1>
  <h3 style="margin-top: 30px; margin-bottom: 30px;">Help Preserve African Traditions by donating that you can give</h3>

  <div class="container">
    <div class="row">
      <div class="text-center">
        <button class="btn btn-primary" disabled>Banking Details</button>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-12" style="margin: 0 auto;">
        <div class="donation__box">
          <p><strong>Acc Name:</strong><%= banking.accountName %></p>
          <p><strong>Acc number:</strong> <%= banking.accountNumber %></p>
          <p><strong>Bank Name: </strong><%= banking.bankName %></p>
          <p><strong>Reference:</strong> <%= banking.reference %></p>
        </div>
      </div>
    </div>
  </div>
</section>
