<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hosi Nkuna Foundation</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    p {
      word-spacing: 1px;
      letter-spacing: 1px;
      line-height: 1.4rem;
      font-size: 1.2rem;
    }

    img {
      width: 12.5rem;
    }

    a {
      text-decoration: none;
      background-color: #e67e22;
      padding: 0.5rem 2rem;
      font-size: 1.2rem;
      border-radius: 2px;
    }

    .container {
      background-color: #F3F3F5;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
    }

  </style>
</head>
<body>
  <div class="container">
    <p>Hi <%=userName %></p>
    <p>You requested to reset your password.</p>
    <p> Please, click the link below to reset your password</p>
    <a style="margin-top: 50px;" href="<%=link%>">Reset Password</a>
  </div>
</body>
</html>

