<section id="initiatives" class="initiatives">
  <div class="container-fluid">
    <h1 class="heading">Initiatives</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <figure class="figure text-center initiative__box">
            <img loading="lazy" src="/images/rural_village.jpg" class="main__initiatives__image figure-img rounded-circle" alt="Rural Development Image">
            <figcaption class="figure-caption">Rural Development</figcaption>
            <p class="text-start">Through entrepreneurship and business development initiatives,
              we empower individuals to create sustainable livelihoods and contribute to economic growth.</p>
        </figure>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <figure class="figure text-center initiative__box">
          <img loading="lazy" class="main__initiatives__image figure-img rounded-circle" src="/images/school children.jpg" alt="School Children Image"/>
          <figcaption class="figure-caption">Education</figcaption>
          <p class="text-start">Our educational programs aim to empower youth with knowledge and skills essential for success,
            focusing on academic excellence, leadership, and career development.
          </p>
        </figure>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <figure class="figure text-center initiative__box">
          <img loading="lazy" class="main__initiatives__image figure-img rounded-circle" src="/images/african heritage.jpg" alt="African Heritage Image"/>
          <figcaption class="figure-caption main__initiatives__box_heading">Cultural Heritage</figcaption>
          <p class="text-start">We work to preserve and promote traditional values, customs, and practices,
            fostering a sense of pride and identity among African communities.
          </p>
        </figure>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <figure class="figure text-center initiative__box">
          <img loading="lazy" class="main__initiatives__image figure-img rounded-circle" src="/images/African Healthcare.jpg" alt="African Healthcare Image"/>
          <figcaption class="figure-caption main__initiatives__box_heading">Healthcare</figcaption>
          <p class="text-start">We support initiatives that improve access to quality healthcare services,
            addressing key health challenges and promoting wellness.
          </p>
        </figure>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <figure class="figure text-center initiative__box">
          <img loading="lazy" class="main__initiatives__image figure-img rounded-circle" src="/images/Business Opportunities.jpg" alt="Opportunities Image"/>
          <figcaption class="figure-caption main__initiatives__box_heading">Economic Empowerment</figcaption>
          <p class="text-start">Through entrepreneurship and business development initiatives,
            we empower individuals to create sustainable livelihoods and contribute to economic growth.
          </p>
        </figure>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <figure class="figure text-center initiative__box">
          <img loading="lazy" class="main__initiatives__image figure-img rounded-circle" src="/images/financing.jpg" alt="Financing Image"/>
          <figcaption class="figure-caption main__initiatives__box_heading">Business Funding and Opportunities</figcaption>
          <p class="text-start">We support entrepreneurship and economic development by providing funding, mentorship, and networking opportunities to aspiring and existing business owners. Through our programs, individuals can access resources to start or grow their businesses and contribute to local economic growth.</p>
        </figure>
      </div>
    </div>
  </div>
</section>
