<section id="partnership" class="partnership">
  <div class="container-fluid">
    <h1 class="heading">Partnership</h1>
    <h4>Join us in our mission to create a brighter future for Africa. Whether you're a professional,
        community member, or organization, there are various ways to get involved
    </h4>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 30px;">
      <div class="col-lg-3 col-md-6">
        <div class="card h-100">
          <img loading="lazy" src="/images/register.jpg" class="card-img-top" alt="Register Image">
          <div class="card-body">
            <h5 class="card-title">Membership</h5>
            <p class="card-text">Become a member and contribute your expertise and resources to support our initiatives.</p>
          </div>
          <div class="card-footer">
            <a href="/user/register" class="btn" >Become a member</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card h-100">
          <img loading="lazy" src="/images/Volunteer.jpg" class="card-img-top" alt="Volunteer Image">
          <div class="card-body">
            <h5 class="card-title">Volunteer</h5>
            <p class="card-text">Volunteer your time and skills to make a direct impact in communities.</p>
          </div>
          <div class="card-footer">
            <a href="#contact" class="btn btn_volunteer">Volunteer</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card h-100">
          <img loading="lazy" src="/images/Partnership.jpg" class="card-img-top" alt="Partnership Image">
          <div class="card-body">
            <h5 class="card-title">Work With Us</h5>
            <p class="card-text">Partner with us to collaborate on projects and initiatives aligned with our mission and values.</p>
          </div>
          <div class="card-footer">
            <a href="#contact" class="btn btn_partnership">Partner With Us</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card h-100">
          <img loading="lazy" src="/images/Hope.jpeg" class="card-img-top" alt="Hope Image">
          <div class="card-body">
            <h5 class="card-title">Donation</h5>
            <p class="card-text">Your donations help us continue our vital work and make a difference in the lives of many.</p>
          </div>
          <div class="card-footer">
            <a href="#donations" class="btn">Donate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
