<%- include("../partials/navigation.ejs") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-6">
      <% if(typeof userId !== "undefined" && typeof token !== "undefined") { %>
        console.log(userId,token)
      <% } %>
      <form method="post" action="/password-reset/">
        <input type="hidden" id="userId" name="userId" value="<%=userId %>" >
        <input type="hidden" id="token" name="token" value="<%=token %>">
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <input type="submit" value="Change Password"/>
      </form>
    </div>
  </div>
</div>



