<%- include("../../partials/util.ejs") %>

<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 position-absolute top-50 start-50 translate-middle">
      <h1>Login</h1>
      <% if(typeof formErrors !== "undefined") { %>
        <% formErrors.forEach((formError) => { %>
          <div class="alert alert-danger" role="alert">
            <%= formError %>
          </div>
        <% }) %>
      <% } %>
      <form method="POST" action="/admin/login">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn" style="background-color: #FE8F1C; border: none;">Login</button>
          <a href="/" class="btn btn-secondary">Cancel</a>
        </div>
        <a href="/user/register" style="text-decoration: none;">Not a Member? Register</a>
    </div>
  </div>
</div>

